<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mappereas.UserOaEasMapper">
    <resultMap id="BaseResultMap" type="com.system.po.UserOAEas">
        <!--  <result column="数据库字段名" property="实体类属性" jdbcType="数据库字段类型" />-->
        <id column="oaid" jdbcType="VARCHAR" property="oaId"/>
        <result column="easid" jdbcType="VARCHAR" property="easId"/>
        <result column="personId" jdbcType="VARCHAR" property="personId"/>
        <result column="pname" jdbcType="VARCHAR" property="pName"/>
    </resultMap>
    <select id="selectUserOaEasByOaId" parameterType="String" resultMap="BaseResultMap">
        select s.username as pname, s.id as oaid,p.fid as easid,b.fid as personId
        from oadb.system_users s
        left join lihua.t_pm_user p on s.easuser_id = p.fpersonid
        left join lihua.t_bd_person b on s.easuser_id =b.fid
        where  s.id = #{oaId}
    </select>
</mapper>