body {
    padding-top: 70px;
}

a:link {
    text-decoration: none;
}

.btn-file {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

td, th {
    text-align: center;
}

.bodycontainer {
    height: 350px;
    width: 100%;
    margin: 0;
    margin-top: -15px;
    overflow-y: auto;
}

.table-scrollable {
    margin: 0;
    padding: 0;
}

/*css代码*/
#miantabmenu {
    width: 0; /*设置为0 隐藏自定义菜单*/
    height: 125px;
    overflow: hidden; /*隐藏溢出的元素*/
    box-shadow: 0 1px 1px #888, 1px 0 1px #ccc;
    position: absolute; /*自定义菜单相对与body元素进行定位*/
}

.tabmenu {
    width: 130px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.realAlarmCount {
    position: absolute;
    top: 12px;
    right: 35px;
    line-height: 15px;
    text-align: center;
    color: #ff0000;
    font-size: 12px;
}