<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapperiot.Lhrz01p1Mapper">
    <resultMap id="BaseResultMap" type="com.system.po.Device.Lhrz01p1DM">
        <!--  <result column="数据库字段名" property="实体类属性" jdbcType="数据库字段类型" />-->
        <id column="DI_SERIALNUM" jdbcType="VARCHAR" property="dSerialNum"/>
        <result column="DI_SERIALNUM" jdbcType="VARCHAR" property="dSerialNumDec"/>
        <result column="DI_NAME" jdbcType="VARCHAR" property="dName"/>

        <result column="WORKMODE" jdbcType="INTEGER" property="workMode"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="NOWTEMP" jdbcType="FLOAT" property="nowTemp"/>
        <result column="OUTTEMP" jdbcType="FLOAT" property="outTemp"/>
        <result column="TARGETTEMP" jdbcType="FLOAT" property="targetTemp"/>
        <result column="AIRLEVEL" jdbcType="INTEGER" property="airLevel"/>
        <result column="AIRVOLUME" jdbcType="INTEGER" property="airVolume"/>
        <result column="TEMP01" jdbcType="FLOAT" property="temp01"/>
        <result column="TEMP02" jdbcType="FLOAT" property="temp02"/>
        <result column="TEMP03" jdbcType="FLOAT" property="temp03"/>
        <result column="HUMIDITY" jdbcType="INTEGER" property="humidity"/>
        <result column="PRESSURE" jdbcType="INTEGER" property="pressure"/>
        <result column="SPEED" jdbcType="INTEGER" property="speed"/>
        <result column="NH3" jdbcType="INTEGER" property="nh3"/>
        <result column="NOISE" jdbcType="INTEGER" property="noise"/>
        <result column="CO2" jdbcType="INTEGER" property="co2"/>
        <result column="LIGHT" jdbcType="INTEGER" property="light"/>
        <result column="FAN01" jdbcType="INTEGER" property="fan01"/>
        <result column="FAN02" jdbcType="INTEGER" property="fan02"/>
        <result column="FAN03" jdbcType="INTEGER" property="fan03"/>
        <result column="FAN04" jdbcType="INTEGER" property="fan04"/>
        <result column="FAN05" jdbcType="INTEGER" property="fan05"/>
        <result column="FAN06" jdbcType="INTEGER" property="fan06"/>
        <result column="FAN07" jdbcType="INTEGER" property="fan07"/>
        <result column="FAN08" jdbcType="INTEGER" property="fan08"/>
        <result column="FAN09" jdbcType="INTEGER" property="fan09"/>
        <result column="WETCURTAIN" jdbcType="BOOLEAN" property="wetCurtain"/>
        <result column="HEATING01" jdbcType="BOOLEAN" property="heating01"/>
        <result column="HEATING02" jdbcType="BOOLEAN" property="heating02"/>
        <result column="HEATING03" jdbcType="BOOLEAN" property="heating03"/>
        <result column="LAMP" jdbcType="BOOLEAN" property="lamp"/>
        <result column="FEED" jdbcType="BOOLEAN" property="feed"/>
        <result column="DUNG" jdbcType="BOOLEAN" property="dung"/>
        <result column="SPRAY" jdbcType="BOOLEAN" property="spray"/>
        <result column="BUZZER" jdbcType="BOOLEAN" property="buzzer"/>
        <result column="SPEED01" jdbcType="INTEGER" property="speed01"/>
        <result column="SPEED02" jdbcType="INTEGER" property="speed02"/>
        <result column="WINPCT" jdbcType="INTEGER" property="winPct"/>
        <result column="AIRDOORPCT" jdbcType="INTEGER" property="airDoorPct"/>
        <result column="ROLLINGPCT" jdbcType="INTEGER" property="rollingPct"/>
        <result column="TOTALWATER" jdbcType="BIGINT" property="totalWater"/>
        <result column="TOTALGAS" jdbcType="BIGINT" property="totalGas"/>

        <result column="SENDDATE" jdbcType="TIMESTAMP" property="sendDate"/>
        <result column="RECEIVEDATE" jdbcType="TIMESTAMP" property="dReceiveTime"/>
    </resultMap>
    <resultMap id="BaseHisResultMap" type="com.system.po.Device.Lhrz01p1DMHis">
        <!--  <result column="数据库字段名" property="实体类属性" jdbcType="数据库字段类型" />-->
        <id column="DI_SERIALNUM" jdbcType="VARCHAR" property="dSerialNum"/>
        <result column="DI_SERIALNUM" jdbcType="VARCHAR" property="dSerialNumDec"/>
        <result column="DI_NAME" jdbcType="VARCHAR" property="dName"/>

        <result column="WORKMODE" jdbcType="INTEGER" property="workMode"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="NOWTEMP" jdbcType="FLOAT" property="nowTemp"/>
        <result column="OUTTEMP" jdbcType="FLOAT" property="outTemp"/>
        <result column="TARGETTEMP" jdbcType="FLOAT" property="targetTemp"/>
        <result column="AIRLEVEL" jdbcType="INTEGER" property="airLevel"/>
        <result column="AIRVOLUME" jdbcType="INTEGER" property="airVolume"/>
        <result column="TEMP01" jdbcType="FLOAT" property="temp01"/>
        <result column="TEMP02" jdbcType="FLOAT" property="temp02"/>
        <result column="TEMP03" jdbcType="FLOAT" property="temp03"/>
        <result column="HUMIDITY" jdbcType="INTEGER" property="humidity"/>
        <result column="PRESSURE" jdbcType="INTEGER" property="pressure"/>
        <result column="SPEED" jdbcType="INTEGER" property="speed"/>
        <result column="NH3" jdbcType="INTEGER" property="nh3"/>
        <result column="NOISE" jdbcType="INTEGER" property="noise"/>
        <result column="CO2" jdbcType="INTEGER" property="co2"/>
        <result column="LIGHT" jdbcType="INTEGER" property="light"/>
        <result column="FAN01" jdbcType="INTEGER" property="fan01"/>
        <result column="FAN02" jdbcType="INTEGER" property="fan02"/>
        <result column="FAN03" jdbcType="INTEGER" property="fan03"/>
        <result column="FAN04" jdbcType="INTEGER" property="fan04"/>
        <result column="FAN05" jdbcType="INTEGER" property="fan05"/>
        <result column="FAN06" jdbcType="INTEGER" property="fan06"/>
        <result column="FAN07" jdbcType="INTEGER" property="fan07"/>
        <result column="FAN08" jdbcType="INTEGER" property="fan08"/>
        <result column="FAN09" jdbcType="INTEGER" property="fan09"/>
        <result column="WETCURTAIN" jdbcType="BOOLEAN" property="wetCurtain"/>
        <result column="HEATING01" jdbcType="BOOLEAN" property="heating01"/>
        <result column="HEATING02" jdbcType="BOOLEAN" property="heating02"/>
        <result column="HEATING03" jdbcType="BOOLEAN" property="heating03"/>
        <result column="LAMP" jdbcType="BOOLEAN" property="lamp"/>
        <result column="FEED" jdbcType="BOOLEAN" property="feed"/>
        <result column="DUNG" jdbcType="BOOLEAN" property="dung"/>
        <result column="SPRAY" jdbcType="BOOLEAN" property="spray"/>
        <result column="BUZZER" jdbcType="BOOLEAN" property="buzzer"/>
        <result column="SPEED01" jdbcType="INTEGER" property="speed01"/>
        <result column="SPEED02" jdbcType="INTEGER" property="speed02"/>
        <result column="WINPCT" jdbcType="INTEGER" property="winPct"/>
        <result column="AIRDOORPCT" jdbcType="INTEGER" property="airDoorPct"/>
        <result column="ROLLINGPCT" jdbcType="INTEGER" property="rollingPct"/>
        <result column="TOTALWATER" jdbcType="BIGINT" property="totalWater"/>
        <result column="TOTALGAS" jdbcType="BIGINT" property="totalGas"/>

        <result column="SENDDATE" jdbcType="VARCHAR" property="sendDate"/>
        <result column="RECEIVEDATE" jdbcType="VARCHAR" property="dReceiveTime"/>
    </resultMap>
    <resultMap id="BasePhoneHisResultMap" type="com.system.po.Device.Lhrz01p1DMHis">
        <!--  <result column="数据库字段名" property="实体类属性" jdbcType="数据库字段类型" />-->
        <id column="DI_SERIALNUM" jdbcType="VARCHAR" property="dSerialNum"/>
        <result column="DI_SERIALNUM" jdbcType="VARCHAR" property="dSerialNumDec"/>
        <result column="DI_NAME" jdbcType="VARCHAR" property="dName"/>

        <result column="WORKMODE" jdbcType="INTEGER" property="workMode"/>
        <result column="AGE" jdbcType="INTEGER" property="age"/>
        <result column="NOWTEMP" jdbcType="FLOAT" property="nowTemp"/>
        <result column="OUTTEMP" jdbcType="FLOAT" property="outTemp"/>
        <result column="TARGETTEMP" jdbcType="FLOAT" property="targetTemp"/>
        <result column="AIRLEVEL" jdbcType="INTEGER" property="airLevel"/>
        <result column="AIRVOLUME" jdbcType="INTEGER" property="airVolume"/>
        <result column="TEMP01" jdbcType="FLOAT" property="temp01"/>
        <result column="TEMP02" jdbcType="FLOAT" property="temp02"/>
        <result column="TEMP03" jdbcType="FLOAT" property="temp03"/>
        <result column="HUMIDITY" jdbcType="INTEGER" property="humidity"/>
        <result column="PRESSURE" jdbcType="INTEGER" property="pressure"/>
        <result column="SPEED" jdbcType="INTEGER" property="speed"/>
        <result column="NH3" jdbcType="INTEGER" property="nh3"/>
        <result column="NOISE" jdbcType="INTEGER" property="noise"/>
        <result column="CO2" jdbcType="INTEGER" property="co2"/>
        <result column="LIGHT" jdbcType="INTEGER" property="light"/>
        <result column="FAN01" jdbcType="INTEGER" property="fan01"/>
        <result column="FAN02" jdbcType="INTEGER" property="fan02"/>
        <result column="FAN03" jdbcType="INTEGER" property="fan03"/>
        <result column="FAN04" jdbcType="INTEGER" property="fan04"/>
        <result column="FAN05" jdbcType="INTEGER" property="fan05"/>
        <result column="FAN06" jdbcType="INTEGER" property="fan06"/>
        <result column="FAN07" jdbcType="INTEGER" property="fan07"/>
        <result column="FAN08" jdbcType="INTEGER" property="fan08"/>
        <result column="FAN09" jdbcType="INTEGER" property="fan09"/>
        <result column="WETCURTAIN" jdbcType="BOOLEAN" property="wetCurtain"/>
        <result column="HEATING01" jdbcType="BOOLEAN" property="heating01"/>
        <result column="HEATING02" jdbcType="BOOLEAN" property="heating02"/>
        <result column="HEATING03" jdbcType="BOOLEAN" property="heating03"/>
        <result column="LAMP" jdbcType="BOOLEAN" property="lamp"/>
        <result column="FEED" jdbcType="BOOLEAN" property="feed"/>
        <result column="DUNG" jdbcType="BOOLEAN" property="dung"/>
        <result column="SPRAY" jdbcType="BOOLEAN" property="spray"/>
        <result column="BUZZER" jdbcType="BOOLEAN" property="buzzer"/>
        <result column="SPEED01" jdbcType="INTEGER" property="speed01"/>
        <result column="SPEED02" jdbcType="INTEGER" property="speed02"/>
        <result column="WINPCT" jdbcType="INTEGER" property="winPct"/>
        <result column="AIRDOORPCT" jdbcType="INTEGER" property="airDoorPct"/>
        <result column="ROLLINGPCT" jdbcType="INTEGER" property="rollingPct"/>
        <result column="TOTALWATER" jdbcType="BIGINT" property="totalWater"/>
        <result column="TOTALGAS" jdbcType="BIGINT" property="totalGas"/>

        <result column="SENDDATE" jdbcType="VARCHAR" property="sendDate"/>
    </resultMap>
    <sql id="BaseResult_Column_List">
        decode(u.eas_fname,null,u.di_name,u.eas_fname) as di_name,u.di_serialnum,t.*
    </sql>
    <sql id="BaseHisResult_Column_List">
        decode(a.eas_fname,null,a.di_name,a.eas_fname) as di_name,a.di_serialnum,b.*
    </sql>
    <select id="selectByORGId" parameterType="string"  resultMap="BaseResultMap">
        select <include refid="BaseResult_Column_List"/>
        from IOT_LHRZ01P1 t,iot_deviceinfo u
        where u.di_serialnum=t.device_serialnum
        and (u.DI_DEACTIVE &lt; 1 or u.DI_DEACTIVE is null)
        and u.di_nodeid = #{ORGId}
        order by u.di_serialnum asc
    </select>
    <select id="selecByORGIdAndRoleId" resultMap="BaseResultMap">
        select DISTINCT <include refid="BaseResult_Column_List"/>
        from IOT_LHRZ01P1 t,iot_deviceinfo u,iot_devicerole a
        where u.di_serialnum=t.device_serialnum
        and (u.DI_DEACTIVE &lt; 1 or u.DI_DEACTIVE is null)
        and u.di_serialnum = a.devrole_devnum
        and u.di_nodeid = #{orgId}
        and a.devrole_roleid in
        <foreach collection="roleIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by u.di_serialnum asc
    </select>
    <select id="selectByDeviceId" parameterType="string"  resultMap="BaseResultMap">
        select <include refid="BaseResult_Column_List"/>
        from IOT_LHRZ01P1 t,iot_deviceinfo u
        where u.di_serialnum=t.device_serialnum
        and u.di_serialnum = #{sDeviceId}
    </select>
    <select id="selectByDeviceIdAndDate" resultMap="BaseHisResultMap">
        select
        <include refid="BaseHisResult_Column_List"/>
        from IOT_DEVICEINFO a,IOT_HISLHRZ01P1 b
        WHERE a.DI_SERIALNUM = b.DEVICE_SERIALNUM
        AND a.DI_SERIALNUM = #{deviceId,jdbcType=VARCHAR}
        AND b.SENDDATE &gt;= to_date(#{startDate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        AND b.SENDDATE &lt;= to_date(#{endDate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        order by b.SENDDATE ASC
    </select>
    <select id="selectPhoneHisByDateAndId" resultMap="BasePhoneHisResultMap">
        select a.di_name,a.di_serialnum,b.*
        from (select t.*,
        row_number() over(partition by t.instartdate order by t.inenddate desc) rn
        from IOT_HISLHRZ01P1 t
        where t.senddate &gt;= to_date(#{startDate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        and  t.senddate  &lt;= to_date(#{endDate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        ) b,iot_deviceinfo a
        where rn = 1 and a.di_serialnum=b.device_serialnum
        order by instartdate desc
    </select>
    <select id="selectByDeviceIdsAndDate" resultMap="BaseHisResultMap">
        select
        <include refid="BaseHisResult_Column_List"/>
        from IOT_DEVICEINFO a,IOT_HISLHRZ01P1 b
        WHERE a.DI_SERIALNUM = b.DEVICE_SERIALNUM
        AND a.DI_SERIALNUM in
        <foreach collection="deviceIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>

        AND b.senddate &gt;= to_date(#{startDate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        AND b.senddate  &lt;= to_date(#{endDate,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        order by b.SENDDATE ASC
    </select>
</mapper>