<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapperiot.PeopleRoleInfoMapper">
    <resultMap id="BaseResultMap" type="com.system.po.PeopleRoleInfo">
        <!--  <result column="数据库字段名" property="实体类属性" jdbcType="数据库字段类型" />-->
        <id column="userrole_userid" jdbcType="VARCHAR" property="userId"/>
        <result column="userrole_username" jdbcType="VARCHAR" property="userName"/>
        <result column="userrole_roleid" jdbcType="VARCHAR" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>
    <select id="selectPeopleRoleInfo" resultMap="BaseResultMap">
        select a.userrole_userid,a.userrole_username,a.userrole_roleid,b.role_name
        from iot_userrole a,iot_role b
        where a.userrole_roleid=b.role_id
        order by a.userrole_username ASC
    </select>
    <select id="selectPeopleRoleInfoByRoleAdmin" parameterType="String" resultMap="BaseResultMap">
        select a.userrole_userid,a.userrole_username,a.userrole_roleid,b.role_name
        from iot_userrole a,iot_role b
        where a.userrole_roleid=b.role_id
        and b.ROLE_BELONG = #{roleAdmin}
        order by a.userrole_username ASC
    </select>
    <select id="selectPeopleRoleInfoByPeopleId" parameterType="String" resultMap="BaseResultMap">
        select a.userrole_userid,a.userrole_username,a.userrole_roleid,b.role_name
        from iot_userrole a,iot_role b
        where a.userrole_roleid=b.role_id
        and a.userrole_userid = #{userId}
        order by a.userrole_username ASC
    </select>
    <select id="selectPeopleRoleInfoByRoleId" parameterType="String" resultMap="BaseResultMap">
        select a.userrole_userid,a.userrole_username,a.userrole_roleid,b.role_name
        from iot_userrole a,iot_role b
        where a.userrole_roleid=b.role_id
        and a.userrole_roleid = #{roleId}
        order by a.userrole_username ASC
    </select>
    <select id="selectPeopleRoleInfoDistinct" resultMap="BaseResultMap">
        select distinct a.userrole_userid,a.userrole_username
        from iot_userrole a,iot_role b
        where a.userrole_roleid=b.role_id
        order by a.userrole_username ASC
    </select>
    <select id="selectPeopleRoleInfoByPeopleIdDistinct" parameterType="String" resultMap="BaseResultMap">
        select distinct a.userrole_userid,a.userrole_username
        from iot_userrole a,iot_role b
        where a.userrole_roleid=b.role_id
        and a.userrole_userid = #{userId}
        order by a.userrole_username ASC
    </select>
    <insert id="insertPeopleRoleInfo" parameterType="java.util.List">
        INSERT INTO iot_userrole(USERROLE_USERID,USERROLE_USERNAME,USERROLE_ROLEID)
        (
        <foreach collection="peopleRoleInfoList" item="item" index="index" open="(" close=")" separator="union all">
            SELECT #{item.userId} as USERROLE_USERID, #{item.userName} as USERROLE_USERNAME, #{item.roleId} as USERROLE_ROLEID FROM DUAL
        </foreach>
        )
    </insert>
    <delete id="deletePeopleRoleInfoByPeopleId" parameterType="String">
        DELETE from iot_userrole
        WHERE USERROLE_USERID = #{userId}
    </delete>
    <delete id="deletePeopleRoleInfoByPeopleIdAndRoleId" parameterType="String">
        DELETE from iot_userrole
        WHERE USERROLE_USERID = #{userId}
        AND USERROLE_ROLEID = #{roleId}
    </delete>
</mapper>