<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapperiot.RoleInfoMapper">
    <resultMap id="BaseResultMap" type="com.system.po.RoleInfo">
        <!--  <result column="数据库字段名" property="实体类属性" jdbcType="数据库字段类型" />-->
        <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_DESCRIBE" jdbcType="VARCHAR" property="roleDescribe"/>
        <result column="ROLE_CREATUSERID" jdbcType="VARCHAR" property="roleCreatUserId"/>
        <result column="ROLE_CREATDATE" jdbcType="VARCHAR" property="roleCreatDate"/>
        <result column="ROLE_BELONG" jdbcType="VARCHAR" property="roleBelong"/>
    </resultMap>
    <select id="selectRoleInfo" resultMap="BaseResultMap">
        SELECT * from iot_role order by iot_role.ROLE_NAME
    </select>
    <select id="selectRoleInfoByRoleAdmin"  parameterType="String" resultMap="BaseResultMap">
        SELECT * from iot_role where iot_role.ROLE_BELONG = #{roleAdmin} order by iot_role.ROLE_NAME
    </select>
    <select id="selectRoleInfoByRoleName" parameterType="String" resultMap="BaseResultMap">
        SELECT * from iot_role where iot_role.ROLE_NAME = #{roleName}
        order by iot_role.ROLE_NAME
    </select>
    <select id="selectRoleInfoByRoleNameAndBelong" resultMap="BaseResultMap">
        SELECT * from iot_role
        where iot_role.ROLE_NAME = #{roleName}
        and iot_role.role_belong = #{roleBelong}
        order by iot_role.ROLE_NAME
    </select>
    <select id="selectRoleInfoByUserId" parameterType="String" resultMap="BaseResultMap">
        select a.* from iot_role a,iot_userrole b
        where a.role_id = b.userrole_roleid
        and b.userrole_userid = #{userId}
        order by a.ROLE_NAME
    </select>
    <insert id="insertNewRoleInfo">
        <selectKey keyProperty="sId" resultType="String" order="BEFORE">
            select sys_guid() from dual
        </selectKey>
        INSERT INTO iot_role(ROLE_ID,ROLE_NAME,ROLE_DESCRIBE,ROLE_CREATUSERID,ROLE_CREATDATE,ROLE_BELONG)
        values (#{sId,jdbcType=VARCHAR},#{roleInfo.roleName,jdbcType=VARCHAR},#{roleInfo.roleDescribe,jdbcType=VARCHAR}
                ,#{roleInfo.roleCreatUserId,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{roleInfo.roleBelong,jdbcType=VARCHAR})
    </insert>
    <update id="updateRoleInfoByRoleId">
        UPDATE iot_role
        SET ROLE_NAME = #{roleInfo.roleName,jdbcType=VARCHAR},
            ROLE_DESCRIBE = #{roleInfo.roleDescribe,jdbcType=VARCHAR},
            ROLE_CREATUSERID = #{roleInfo.roleCreatUserId,jdbcType=VARCHAR},
            ROLE_CREATDATE = #{createDate,jdbcType=TIMESTAMP}
        WHERE ROLE_ID = #{roleInfo.roleId,jdbcType=VARCHAR}
    </update>
    <delete id="deleteRoleInfoByRoleId" parameterType="String">
        DELETE from iot_role
        WHERE ROLE_ID = #{roleId}
    </delete>
</mapper>